In [1]:
import numpy as np
import pandas as pd

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

In [4]:
train = pd.read_csv('train_cleaned.csv')
test = pd.read_csv('test.csv')
train.head(5)

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,3.0,0,0,0,0,95.12,18.0,0,0,0,0,0,1,0,1,0
1,1,58.0,1,0,1,1,87.96,39.2,0,0,0,1,0,0,0,1,0
2,0,8.0,0,0,0,1,110.89,17.6,0,0,0,1,0,0,0,1,0
3,0,70.0,0,0,1,0,69.04,35.9,0,0,0,1,0,0,1,0,0
4,1,14.0,0,0,0,0,161.28,19.1,0,0,1,0,0,0,0,1,0

In [7]:
df_x = train.drop(['hypertension'], axis = 1)
df_x

,gender,age,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,3.0,0,0,0,95.12,18.0,0,0,0,0,0,1,0,1,0
1,1,58.0,0,1,1,87.96,39.2,0,0,0,1,0,0,0,1,0
2,0,8.0,0,0,1,110.89,17.6,0,0,0,1,0,0,0,1,0
3,0,70.0,0,1,0,69.04,35.9,0,0,0,1,0,0,1,0,0
4,1,14.0,0,0,0,161.28,19.1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43384,0,10.0,0,0,1,58.64,20.4,0,0,0,0,0,1,0,1,0
43385,0,56.0,0,1,1,213.61,55.4,0,1,0,0,0,0,1,0,0
43386,0,82.0,0,1,1,91.94,28.9,0,0,0,1,0,0,1,0,0
43387,1,40.0,0,1,1,99.16,33.2,0,0,0,1,0,0,0,1,0
43388,0,82.0,0,1,1,79.48,20.6,0,0,0,1,0,0,0,1,0

0    0
Name: hypertension, dtype: int64

In [16]:
X, y = [], []
for (idx, row) in df_x.iterrows():
    hypertension = train[:idx]['hypertension']
    feature = list(row)

    X.append(feature)
    y.append(hypertension)

In [ ]:
mlp = MLPClassifier()
mlp.fit(X, y)

In [ ]:
kn = KNeighborClassifier()
kn.fit(X, y)

In [ ]:
svc = SVC()
svc.fit(X, y)

In [ ]:
gpc = GaussianProcessClassifier()
gpc.fit(X, y)

In [ ]:
rbf = RBF()
rbf.fit(X, y)

In [ ]:
dtc = DecisionTreeClassifier()
dtc.fit(X, y)

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X, y)

In [ ]:
abc = AdaBoostClassifier()
abc.fit(X, y)

In [ ]:
gnb = GaussianNB()
gnb.fit(X, y)